<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
	<title>Student Management System</title>
</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
					aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span
						class="icon-bar"></span> <span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}">student_INFO </a>
			</div>
		</div>
	</nav>
	<br>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">

				<h1 class="text-center"> Create New Student </h1>
				<div class="card-body">
					<form th:action="@{/students}" th:object="${student}" method="POST">

						<p class="error-message" th:if="${#fields.hasGlobalErrors()}"
							th:each="error : ${#fields.errors('global')}" th:text="${error}">Validation
							error</p>

						<div class="form-group" th:classappend="${#fields.hasErrors('enrollmentNo')}? 'has-error':''">
							<label for="enrollmentNo" class="control-label">Enrollment No</label> <input
								id="enrollmentNo" class="form-control" th:field="*{enrollmentNo}" />
							<p class="error-message" th:each="error: ${#fields.errors('enrollmentNo')}"
								th:text="${error}">
								Validation error</p>
						</div>
						<div class="form-group" th:classappend="${#fields.hasErrors('firstName')}? 'has-error':''">
							<label for="firstName" class="control-label">First name</label> <input id="firstName"
								class="form-control" th:field="*{firstName}" />
							<p class="error-message" th:each="error: ${#fields.errors('firstName')}" th:text="${error}">
								Validation error</p>
						</div>

						<div class="form-group" th:classappend="${#fields.hasErrors('lastName')}? 'has-error':''">
							<label for="lastName" class="control-label">Last name</label> <input id="lastName"
								class="form-control" th:field="*{lastName}" />
							<p class="error-message" th:each="error : ${#fields.errors('lastName')}" th:text="${error}">
								Validation error</p>
						</div>

						<div class="form-group" th:classappend="${#fields.hasErrors('address')}? 'has-error':''">
							<label for="address" class="control-label">Address</label> <input id="address"
								class="form-control" th:field="*{address}" />
							<p class="error-message" th:each="error : ${#fields.errors('address')}" th:text="${error}">
								Validation error</p>
						</div>
					

			


				<div class="form-group" th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
					<label for="email" class="control-label">E-mail</label> <input id="email" class="form-control"
						th:field="*{email}" />
					<p class="error-message" th:each="error : ${#fields.errors('email')}" th:text="${error}">
						Validation
						error</p>
				</div>

				<div class="form-group">
					<button type="submit" class="btn btn-success">Submit</button>
				</div>
				</form>

			</div>
		</div>
	</div>
	</div>
	<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>

</html>